body{
	/* background: #e74c3c; */
	font-family: sans-serif;
	margin: 0px;
}

.chat_box{
	cursor: pointer;
	/*position: fixed;*/
	bottom:20px;
	left:20px;
	background: white;
	width: 850px;
	border-radius:5px 5px 0px 0px;
	
}


.msg_box{
	cursor: pointer;
	position: fixed;
	bottom:45px;
	left:20px;
	background: white;
	width: 850px;
	border-radius:5px 5px 0px 0px;
}

/*.msg_box{
	background: white;
	width: 250px;
	bottom: -5px;
}*/

.chat_head{
	background: #fcaf3e;
	padding: 15px;
	color: white;
	border-radius:5px 5px 0px 0px;
}

.msg_head{
	background: #729fcf;
	padding: 15px;
	color: white;
	border-radius:5px 5px 0px 0px;
}

.close{
	float: right;
}

.msg_input{
	background:transparent;
	border-top:1px solid #555753; 
	width:100%;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.chat_body{
	height: 400px;
}

.msg_body{
	height: 150px;
	font-size: 12px;
	overflow: auto;
	overflow-x: hidden;
}

.msg_a{
	margin-top:10px;
	padding:15px;	
	min-height:20px;
	background: #73d216;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	border-radius:5px;	
}

.msg_a:BEFORE{
	content: "";
	position:absolute;
	left:-30px;
	top:8px;
	width: 0px;
	height: 0px;
	border: 15px solid;
	border-color:transparent #73d216 transparent transparent; 
	
}

.msg_b{
	margin-top:10px;
	padding:15px;	
	min-height:20px;
	background: #e9b96e;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	border-radius:5px;	
}

.msg_b:BEFORE{
	content: "";
	position:absolute;
	right:-30px;
	top:8px;
	width: 0px;
	height: 0px;
	border: 15px solid;
	border-color:transparent transparent transparent #e9b96e; 
	
}

.user{
	cursor: pointer;
	padding: 20px;
	position: relative;
	
}

.user:BEFORE{
	content:"";
	position: absolute;
	background:#5c3566;
	width: 10px;
	height: 10px;
	left: 5px;
	top: 23px;	
}

.user:HOVER {
	background: #f7df96;
}